<html>

<head>
	<title>
		User Form
	</title>
</head>

<body>
	<p style="color: red;" th:text="${msg}"></p>
	<form th:action="@{/login}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>
					Name :
				</td>
				<td>
					<input type="text" th:field="*{name}">
				</td>
				<td><p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></p> </td>
			</tr>
			<tr>
				<td>
					Email :
				</td>
				<td>
					<input type="email" th:field="*{email}">
				</td>
				<td><p th:if="${#fields.hasErrors('email')}" th:errors="*{name}" ></p></td>
			</tr>
			<tr>
				<td>
					Passsword :
				</td>
				<td>
					<input type="password" th:field="*{password}">
					<td><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p></td>
				</td>
			</tr>
			<tr>
				<td>
					Mobile Number :
				</td>
				<td>
					<input type="number" th:field="*{phNo}">
					<td><p th:if="${#fields.hasErrors('phNo')}" th:errors="*{phNo}"></p></td>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="submit">
				</td>
			</tr>


		</table>
	</form>
</body>

</html>